body {
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.container {
  margin: 40px;
  width: 550px;
  display: flex;
  flex-direction: column;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-container {
  margin: 40px 10px;
  border: solid 1px black;
}

.button-container {
  display: flex;
  justify-content: center;
}

button {
  font-size: 20px;
  width: 80px;
  height: 80px;
  margin: 10px;
}

.equals,
.zero {
  width: 180px;
  height: 80px;
}

.digits {
  display: flex;
  flex-wrap: wrap;
}

.functions {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}